<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Movie Recommendation Platform</title>
		
		<!-- Bootstrap -->
		<!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		
		<!-- World Map Plotting -->
	  	<script src='https://d3js.org/d3.v3.min.js'></script>
	 	<script src='https://d3js.org/queue.v1.min.js'></script>
	  	<script src='https://d3js.org/topojson.v1.min.js'></script>
	  	<script src='https://d3js.org/d3.geo.projection.v0.min.js'></script>
	  	<script src='https://cdn.rawgit.com/FrontenderMagazine/d3js-map-visualization/master/src/step-4/js/d3.slider.js'></script>
	  	<link rel='stylesheet' href='https://cdn.rawgit.com/FrontenderMagazine/d3js-map-visualization/master/src/step-4/css/d3.slider.css'>

		<!-- Custom fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		

		<!-- Landing Page CSS-->
  		<link rel="stylesheet" href="/stylesheets/landing.css">
  		<link rel="stylesheet" href="/stylesheets/bootstrap_agency.css">
  		
    </head>
    