
#genres {
  padding-top:520px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#canvasGenres{
  width: 1100px;
  max-height: 250px;
}

#canvasScore{
  height: 250px;
  width:540px;
}

#revenueAndScore{
  padding-top:330px;
}

#revenue{
  /*padding-top:330px;*/
  height: 320px;
  width: 300px;
  position: absolute;
}

#score{
  /*padding-top:380px;*/
  height: 320px;
  width: 300px;
  position: absolute;
}

#aboutScore{
  height:298.8px;
  width:540px;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  padding-bottom:20px;
  position: absolute;
  /*top: 40%;*/
  /*left: 1%;*/
  /*transform: translate(-50%, -50%);*/
  /*max-width: 900px;*/
  /*width: 900px;*/
  /*max-height: 500px;*/
  /*height:700px;*/
  border-radius: 10px;
  overflow: hidden;
}

.card2 {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding-bottom:20px;
  border-radius: 10px;
  overflow: hidden;
}

.card3 {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
}

.card .about {
  height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}
#worldMapTitle{
  font-size: 24px;
  padding-left: 20px;
  font-weight: 300;
  margin: 0;
}

#revenuePlotTitle {
  font-size: 24px;
  padding-left: 20px;
  font-weight: 300;
  margin: 0;
}

#scorePlotTitle{
  font-size: 24px;
  padding-left: 20px;
  font-weight: 300;
  margin: 0;
}

#scoreLead{
  font-size: 15px;
  padding-left: 20px;
  font-weight: 300;
  margin: 0;
  color: #aaa;
}

/*#tooltip {
  background-color: #fff;
  border-radius: 4px;
  font-family: monospace;
  color: #aaa;
  font-size: 13px;
  padding-left: 20px;
  position: absolute;
  padding: 4px 0;
  display: none;
  z-index: 2;
}*/

#tooltip{
  font-size: 13px;
  padding-left: 20px;
  color: #aaa;
}

.card .about h3,
.card .about .lead {
  font-weight: 300;
  margin: 0;
}

.card .about h3 {
  font-size: 24px;
}

.card .about .lead {
  color: #aaa;
}

.card .info {
  float: left;
  /*padding: 10px 30px 10px 0;*/
}

.card .info p {
  font-size: 11px;
  color: #aaa;
  font-weight: 300;
}

.legends {
  /*padding-top: 20px;*/
  overflow: hidden;
}

.legend {
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left:8px;
  border-radius: 50%;
}

.legend--this {
  background-color: #5555FF;
}

.legend--prev {
  background-color: #FF55B8;
  text-align: right;
}

/*#info2{
  padding-left:15px;
}*/

.axis {
  position: absolute;
  color: #000;
  z-index: 1;
  text-transform: uppercase;
  display: flex;
  width: 100%;
  bottom: 10px;
}

.axis .tick {
  flex: 2;
  position: relative;
  overflow: hidden;
  opacity: 0.6;
  font-size: 7.5px;
  text-align: left;
  line-height: 40px;
  padding-top: 80px;
  height: 200px;
}

.axis .tick:hover {
  opacity: 5;
  /*height: 230px;*/
  background-color: rgba(255, 255, 255, 0.2);
}

.axis .tick .value {
  transform: translateY(-40px);
  transition: 0.3s transform;
  position: absolute;
  top: 30px;
  color: #444;
  border-radius: 2px;
  width: 100%;
  line-height: 30px;
}

.axis .tick:hover .value.value--this {
  transform: translateY(0);
  display: block;

}

.value.value--this {
  color: #5555FF;
  font-weight: bold;
}

